# --- JAVA & COMPILACIÓN ---
# Ignora todos los archivos compilados (.class)
*.class

# Ignora la carpeta de salida de binarios de IntelliJ
out/

# Ignora la carpeta de binarios de Eclipse u otros compiladores
bin/

# --- INTELLIJ IDEA ---
# Ignora la carpeta de configuración local del proyecto
.idea/

# Ignora los archivos de módulos individuales
*.iml

# --- ECLIPSE ---
# Por si acaso abres el proyecto en un equipo con Eclipse
.settings/
.project
.classpath

# --- SISTEMA Y TEMPORALES ---
# Archivos de configuración de carpetas de Windows y macOS
.DS_Store
Thumbs.db

# Archivos de guardado temporal o logs
*.log
*.tmp